<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blogs</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    {{>navbar}}
    <h1>Blog Details</h1>
   
        <li>
            <div>
                <img src="{{Blog.title.imgUrl}}" alt="">
            </div>
            <div>
                Title: {{Blog.title.name}}
            </div>
            <div>
                Discription: {{Blog.discription}}
            </div>
        </li>
</body>

</html>